body{
    margin: 0px;
    padding: 0px;
}

header{
    height: 5vh;
    width: 100vw;
    background-color: #4a0c85;
}

.corpo{
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.barraLateral{
    height: 100%;
    width: 4%;
    background-color: #4a0c85;
}

.conteudo{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 96%;
}

.forms{
    display: flex;
    flex-direction: row;

    height: 20%;
    width: 100%;
}


#formSalario{
    border-right: ridge;
    border-bottom: ridge;
    border-width: 2px;
    border-color: #4a0c85;

    display: flex;
    width: 50%;
    gap: 20%;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    span{
        height: 20;
        width: 50%;
    }

    button{
        height: 15%;
        width: 30%;
        border-style: ridge;
    }
}

#formDespesas{
    border-bottom: ridge #4a0c85 2px;
    width: 50%;

    gap: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span{
        height: 20%;
    }
    button{
        height: 15%;
        width: 30%;
        border-style: ridge;
    }
}

.resultados{
    height: 80%;

    display: flex;
    flex-direction: row;

    ul{
        list-style: none;
    }
}


@media (max-width: 768px) {

    .corpo {
        flex-direction: column; /* barra lateral em cima */
    }

    .barraLateral {
        width: 100%;
        height: 40px;  /* fica uma barra horizontal pequena */
    }

    .conteudo {
        width: 100%;
        height: auto;
    }

    .forms {
        flex-direction: column; /* empilha os forms */
        height: auto;
        gap: 20px;
        padding: 10px;
    }

    #formSalario,
    #formDespesas {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .resultados {
        flex-direction: column; /* listas empilhadas */
        height: auto;
        padding: 10px;
    }

    .resultados > div {
        width: 100%;
    }

    ul li {
        font-size: 14px; /* letras menores no celular */
    }
}